a:hover,
a:focus,
.bordered .info h3 a:hover,
.bordered .info h4 a:hover,
.icon i.icn,
.meta a:hover,
.meta li.categories:hover:before,
.more:hover,
.navbar.basic .nav > li > a:hover,
.navbar.basic .nav > li > a:focus,
.navbar.basic .nav .open > a,
.navbar.basic .nav .open > a:hover,
.navbar.basic .nav .open > a:focus,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) li a.active,
.navbar-header .info a:hover,
.nav > li > a:hover,
.owl-carousel:hover .owl-next:hover,
.owl-carousel:hover .owl-prev:hover,
.panel-title > a:hover,
#scrollUp:hover,
.sidemeta .format-wrapper a,
/* .tabs-side .tab.active a, */
.tabs-top .tab.active a,
.text-center .panel-title > a:hover span:after,
ul.arrowed li:before,
ul.circled li:before,
.yamm .yamm-content a:hover, ul.circled li:before,
.edd-lost-password a,
#edd_login_form label > small
{
	color: #e84a52;
}
.tint-bg .btn,
.tint-color {
	color: #e84a52 !important;
}

.btn, .more-link, 
.classic-blog .post .date,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a:focus,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > li > a:focus,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > li > a:hover,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-submenu:hover > a,
.owl-pagination .owl-page.active span,
.owl-pagination .owl-page:hover span,
#owl-main .caption h1 span.tint-bg,
#owl-main .caption p span.tint-bg,
.pagination > li > a,
.pagination > li > span,
.post.format-quote,
.sidemeta .format-wrapper a:hover,
.sidenav li a:hover,
.tabs-circle-top .tab.active a,
.tabs-side .tab a:hover,
.tabs-top .tab a:hover,
.tint-bg,
.tint-bg.img-bg-soft:before,
.tint-bg.img-bg-softer:before,
.tooltip-inner, 
.newsletter .btn-submit, 
.search .btn-submit, 
.forms .btn-submit, 
.edd_form .edd_submit , 
.edd_form .button ,#edd-purchase-button, 
.edd-submit, 
input.edd-submit[type="submit"],
input.edd-submit[type="submit"]:hover,
input.edd-submit[type="submit"]:focus,
.edd-submit.button.blue.active,
.edd-submit.button.blue, 
.edd-submit.button.blue:focus, 
.edd-submit.button.blue:hover,
.entry-content .edd_cart_remove_item_btn,
.edd-invoices-div input[type="submit"],
.edd-invoices-div input[type="submit"]:hover,
.edd-invoices-div input[type="submit"]:focus,
.wpcf7-submit,
.wpcf7-submit:hover,
.wpcf7-submit:focus{
	background-color: #e84a52;
}

.edd_form .edd-input:focus {
    border-color: #e84a52;
}

.btn-mandy, 
.btn:active,
.btn.active,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > li > a:hover,
.pagination > li > a:focus {
	background-color: #e84a52 !important;
}
.icon{ color: #e84a52; }
.btn-mandy:hover, .btn-mandy:focus, 
.newsletter .btn-submit:hover, .search .btn-submit:focus, 
.forms .btn-submit:hover, .forms .btn-submit:focus { background: #df424a !important; }

.icon-overlay a .icn-more,
.items li .text-overlay,
.owl-carousel .item .text-overlay,
.thumbs .thumb .text-overlay {
	background-color: rgba(232, 74, 82, 0.9);
}

.classic-blog .post .date,
.icon.circle,
.sidemeta .format-wrapper a,
.tabs-circle-top .tab.active a,
.tabs-circle-top .tab a:hover,
.tabs-side .tab a:hover,
.tabs-top .tab a:hover {
	border-color: #e84a52;
}

.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
	border-top-color: #e84a52;
}
.tooltip.right .tooltip-arrow {
	border-right-color: #e84a52;
}
.tooltip.left .tooltip-arrow {
	border-left-color: #e84a52;
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
	border-bottom-color: #e84a52;
}

#owl-main .caption h1 span.tint-bg,
#owl-main .caption p span.tint-bg  {
	box-shadow: -.500em 0 0 #e84a52, .500em 0 0 #e84a52;
}

::selection {
	background: #F7CAA6; /* Safari */
}

::-moz-selection {
	background: #F7CAA6; /* Firefox */
}




